.logo-thumbnail{
    height: 35px;
    width: 45px;
  }

  .data-item {
      padding:4%;
  }

  .data-list-container{
    width: 300px;
    margin: 0 auto;
    padding-top: 2%;
  }

  .chart{
    width: 300px;
    margin: 0 auto;
  }

.data-list-detail{
    width: 100%;  
    display: inline-block;
}

.letter-icon {
    position: absolute;
    left: 29px;
    top: 6px;
    z-index: 1000;
    padding: 5px;
    color: #827570;
    font-weight: bold;
}
